@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply bg-background-deep font-sans text-white antialiased;
  }
}
