NUXT_PUBLIC_SITE_URL=https://aganov.dev
NUXT_DEFAULT_LOCALE=ru
NUXT_PUBLIC_SUPABASE_URL=
NUXT_PUBLIC_SUPABASE_KEY=
NUXT_GITHUB_TOKEN=
NUXT_POLYGLOT_API_KEY=
NUXT_POLYGLOT_MD_API_KEY=
NUXT_OG_IMAGE_SECRET=
